.env
.env.*
!.env.example
!.env.development.example
!.env.production.example
node_modules/
dist/
.next/
.mongodb/
.vercel/
*.tsbuildinfo
coverage/
public/uploads/admin/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
